body{
  --chatter-black: #2c2c2c;
  --chatter-brown: #454545;
  --chatter-grey: #858585;
  --chatter-light-grey: #575757;
  --chatter-super-light-grey: #B3B3B3;
  --chatter-button-gray: #757575;
  --chatter-text-field: #e6e6e6;
  overflow: hidden;
}

.app{
  height: 100vh;
}

.app__body {
  padding-top: 50px;
	display: flex;
	height:  calc(100% - 15rem);;
	background-color: var(--chatter-black);
}