.sidebar {
    color: white;
    background-color: var(--onlyfriends-color);
    border-top: 1px solid #52acc7;
    max-width: 260px;
}

.sidebar_header{
    display: flex;
    border-bottom: 1px solid #52acc7;
}