.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: var(--chatter-black);
    color:white;
    height:13rem;
}

.left{
    flex: 0.3;
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-bottom: 175px;
}
/*.left > .MuiSvgIcon-root {
    
}*/

.left > .MuiSvgIcon-root:hover {
    cursor: pointer;
}

.right {
    flex: 0.3;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-bottom: 175px;
}

.right > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 10px;
}
.right > .MuiSvgIcon-root:hover {
    cursor: pointer;
}
.logo {
    display: flex;
    margin-bottom: 170px;
}

.searchSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -115px;
}

.search {
    background-color: white;
    padding: 0 15px;
    color: gray;
    border: 1px gray solid;
    border-radius: 6px;
    width:800px;
}

.search > input{
    background: transparent;
    border: none;
    outline: none;
    text-align: left;
    min-width: 0;
    width: 100%;
    display: block;
    margin: 0;
    box-sizing: content-box;
    padding: 4px 0 5px;
}

.searchButton{
    display: flex;
    background-color: white;
    border-radius: 6px;
    margin-left: 4px;
}