.chatInput {
	border-radius: 20px;
}

.chatInput > form {
	color: black;
	position: relative;
	display: flex;
	justify-content: center;
}

.chatInput > form > input {
	position: fixed;
	bottom: 30px;
	width: 60%;
	border: 1px solid gray;
    outline: none;
	border-radius: 3px;
	padding: 20px;
}

.chatInput > form > button {
	display: none;
	color: white;
	background-color: var(--onlyfriends-color);
}

.chatInput > form > button:hover {
	background-color: #52acc7;
}