.chatInput {
	border-radius: 20px;
	/*background-color: var(--chatter-grey);*/
}

	.chatInput > form {
		color: black;
		position: relative;
		display: flex;
		justify-content: center;
		/*background-color: var(--chatter-grey);*/
	}

.chatInput > form > input {
	position: fixed;
	bottom: 30px;
	width: 60%;
	border: 1px solid gray;
    outline: none;
	border-radius: 3px;
	padding: 20px;
}

.chatInput > form > button {
	display: none;
	color: white;
	background-color: var(--onlyfriends-color);
}

.chatInput > form > button:hover {
	background-color: #52acc7;
}

.chat_inputBackground {
	display:none;
	background-color: var(--chatter-black);
	position: fixed;
	display: flex;
	justify-content: center;
	bottom: 0px;
	width: 100%;
	padding: 40px;
}