.chatInput {
	border-radius: 20px;
}

.chatInput > form {
	color: black;
	position: relative;
	display: flex;
	justify-content: center;
}

.chatInput > form > input {
	position: fixed;
	bottom: 30px;
	width: 65%;
	border: 1px solid gray;
    outline: none;
	border-radius: 10px;
	padding: 15px 20px;
	margin-right: 50px;
}

.chatInput > form > button {
	display: none;
	color: white;
	background-color: var(--onlyfriends-color);
}

.chatInput > form > button:hover {
	background-color: #52acc7;
}
.sendIcon {
	position: fixed;
	display: flex;
	left: 1650px;
	top: 790px;
}
