.message {
	display: flex;
	align-items: center;
	padding: 20px;
}

.message > img {
	width: 50px;
	height: 50px;
	object-fit: contain;
	border-radius: 50%;
}

.message__info {
	margin-left: 10px;
	background-color: var(--chatter-super-light-grey);
	border: 1px solid gray;
	outline: none;
	border-radius: 10px;
	padding: 5px;
}

.message__info > h4 {
	display: flex;
	align-items: center;
}

.message__timestamp {
	margin-left: 10px;
	color: var(--chatter-black);
	font-weight: 300;
	font-size: 13px;
}