.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 7px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-top: 1px solid black;
    background-color: var(--chatter-brown)
}

.sidebarOption:hover{
    opacity: 0.9;
    background-color: #52acc7;
}

.sidebarOption_icon {
    padding: 10px;
    font-size: 15px !important;
}

.sidebarOption_list {
    padding: 10px 0;
}

.sidebarOption_channels {
    padding: 10px;
}
.sidebarOption > h3 {
    display: flex;
	align-items: center;
	font-size: 15px;
    font-weight: 500;
}
