.footerArea {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px 0;
    background-color: var(--chatter-grey);
    color: white;
}

.footerOptions {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.footerPadding {
    margin-left: 20px;
}