.login-top-container{
    display:flex;
    width:100%;
    height: 15rem;
    background-color: var(--onlyfriends-purple);
    color: white;
    
}



.login-form-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 12%;
    height: auto;
    margin-left: auto;
    margin-right: 2rem;
}

.register-button {
    background-color: var(--onlyfriends-color);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.register-button:hover,
.register-button:focus {
    background-color: #4c98e6;
}